.account-background {
    background: $off-white;
}

.nav-bar-wrapper {
    margin-bottom: $l-margin*1.5;
}

.account-container {
    background: $off-white;
    width: 86%;
    margin: 0 auto;
    padding-bottom: $l-padding;
    display: flex;
    justify-content: space-between;
}

.account-container span {
    flex: 1.5%;
}

.account-menu-sec {
    flex: 24.5%;
    background: $white;
}

.acc-sec {
    box-shadow: .1rem .1rem .8rem .01rem $light-grey;
    border-radius: .5rem;
}

.accout-detail-sec {
    flex: 74%;
    background: $white;
}