@import '../base/settings';

.app-featured-categories {
    width: 100%;
    margin: $xl-margin 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.featured-categories {
    width: 60%;
    height: 80%;
    background: $off-white;
}

.category-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.icons-line {
    margin: $l-margin+1 0;
    display: flex;
    justify-content: center;
}

.icon-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 0 $xl-margin;
    opacity: .8;
}

.icon-div p {
    padding: $m-padding 0;
}

.icon-div:hover {
    opacity: .9;
    cursor: pointer;
}

.icon-div__img {
    width: $large-img;
    height: $large-img;
}

.icon-div:hover {
    width: $large-img + .5;
    height: $large-img + .5;
}
