.filtered-results {
    border: .1rem solid $off-white;
    border-radius: .3rem;
	padding: $m-padding;
}

.search-results {
	// padding: $s-padding 0;
	// background: green;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
}

.search-imgLink {
	width: 5rem;
	height: 5rem;
}

.search-results:hover {
	opacity: .8;
}