/**
* This file contains styles for the header component
*/


.App-header {
    z-index: 1000;
    margin-top: -3rem;
}

.header-sec-container {
    background: red;
    display: flex;
    justify-content: space-between;
    height: 38rem;
}

.slide {
    flex: 50%;
}

.carousel-slider {
    flex: 40%;
}

.carousel-inner {
    border-radius: .25rem;
}

.carousel-item img {
    width: 100%;
}

@media screen and (min-width: $mobile-width) and (max-width: $small-tablet-width) {
    .App-header {
        top: $m-navbar-height;
    }
}

@media screen and (min-width: $small-tablet-landscape-width) and (min-width: $large-tablet-landscape-width) {
    .App-header {
        top: $s-navbar-height;
    }
}
