/**
* This file contains styles for the login component
*/


@import '../base/settings';


.m-font-size {
    font-size: 1.7rem;
}

.btn-info {
    color: $white;
}

.forgot-pass {
    color: darkcyan;
    opacity: .7;
    outline: none;
    border: none;
}

.forgot-pass:hover {
    opacity: 1;
    color: darkcyan;
    background: $white;
}