.menu-link {
  color: $dark-grey !important;
}

.menu-container {
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.menu-bar-wrapper {
  // width: 100%;
  flex: 9%;
  border-radius: 0.5rem;
  box-shadow: 0 0.1rem 1rem #ddd;
}

.container-fluid__container {
  text-align: left;
  width: 100%;
}

.category-nav {
  height: 100%;
}

.category-nav__wrapper {
  // background: red;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.category-items {
  height: 100%;
  // background: blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.categories {
  background: $off-white;
  text-align: center;
  margin: 0;
  padding: $m-padding;
  display: flex;
  font-size: $s-font-size*1.2;
  color: $dark-grey;
  font-weight: 500;
  z-index: 9999;
}

.menu-bar-div {
  font-size: $s-font-size + 0.2;
  margin: 0;
  padding-bottom: .5rem;
  width: 100%;
  text-overflow: ellipsis;
}

.mr-2 {
  padding: 0.6rem 0.5rem 0.5rem 1rem;
}

.menu-bar-div:hover {
  cursor: pointer;
  color: $base-color;
}

.container-fluid {
  background: $white;
}

.menu-bar-wrapper:hover {
  border-radius: 0.5rem 0 0 0.5rem;
}

// media queries
@media screen and (min-width: $mobile-width) and (max-width: $large-tablet-width) {
}
