.menu-link {
  color: $dark-grey;
}

.menu-container {
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.menu-bar-wrapper {
  // width: 100%;
  flex: 9%;
  border-radius: 0.5rem;
  box-shadow: 0 0.1rem 1rem #ddd;
}

.container-fluid__container {
  text-align: left;
  width: 100%;
}

.menu-bar-div {
  font-size: $s-font-size + 0.2;
  padding-bottom: 1rem;
  width: 100%;
}

.mr-2 {
  padding: 0.6rem 0.5rem 0.5rem 1rem;
}

.menu-bar-div:hover {
  cursor: pointer;
  color: $base-color;
}

.container-fluid {
  background: $white;
}

.menu-bar-wrapper:hover {
  border-radius: 0.5rem 0 0 0.5rem;
}

// media queries
@media screen and (min-width: $mobile-width) and (max-width: $large-tablet-width) {
}
