@import '../base/settings';

.nav-link {
  color: $dark-grey;
}

.menu-container {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.menu-bar-wrapper {
  // width: 100%;
  flex: 25%;
}

.container-fluid__container {
  text-align: left;
}

.menu-bar-div {
  font-size: $s-font-size+.2;
  padding-bottom: 1rem;
}

.mr-2 {
  padding: .6rem .5rem .5rem 1rem;
}

.menu-bar-div:hover {
  cursor: pointer;
  color: $base-color;
}

.container-fluid {
  background: $white;
}