@import './styles/base/settings';


.app-menu-ads {
    // background: blue;
    margin: 4rem auto;
}

.menu-ads-img-slider__container {
    display: flex;
}

.menu-ads-img-content {
    font-size: $s-font-size;
    position: absolute;
    // background: red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
}

.menu-img-overlay-div {
    background: $dark-grey;
    width: 100%;
    height: 100%;
    opacity: .5;
    z-index: 1000;
    position: absolute;
    cursor: pointer;
}

.menu-img-overlay-div:hover {
    opacity: .2;
}

.menu-ads-img {
    // background: green;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menu-img-overlay {
    position: relative;
    // background: red;
    display: flex;
    width: 91%;
}

.menu-ads-img-item {
    width: 100%;
    height: 20rem;
    // background: red;
    text-align: center;
}
