.flex-mobile {
    display: none;
}

.mobile-menu {
    height: 20rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: $m-margin 0;
}

.mobile-menu__background {
    height: 95%;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
}

.menu-category {
    width: 20%;
}

.category-img {
    width: 3.5rem;
    height: 3.5rem;
}

.category-details {
    width: 90%;
    height: 4rem;
}

.category-details .text-muted {
    font-size: $s-font-size;
    text-align: center;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.menu-category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


@media screen and (min-width: $mobile-width) and (max-width: $small-tablet-width) {
    .app-footer {
        display: none;
    }
    .flex-mobile {
        display: flex;
    }
}