/**
* This file contains styles for the product item component
*/

@import '../base/settings';

.product-item {
    width: $base-size;
    margin: $l-margin auto;
}

.product-item-container {
    display: flex;
    
}

.product-item__img {
    background: red;
    flex: 50%;
}

.product-item__details {
    background: green;
    flex: 50%;
}