@import '../base/settings';

.app-services {
    margin-top: $medium-img;
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.app-services__container {
    display: flex;
    width: 80%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.services {
    width: 100%;
    height: 80%;
}

.services__container {
    margin: 0 auto;
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.services-img-div {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 75%;
    justify-content: center;
    align-items: center;
}

.textile {
    background: $base-color;
}

.good-quality {
    background: $light-grey;
}

.size {
    background: $light-grey;
}

.services-img-item {
    width: $xl-large-img;
    height: $xl-large-img;
}

.services-img-content {
    padding-top: $l-padding;
    text-align: center;
    width: 50%;
}