@import '../base/settings';

.app-trending {
    width: 100%;
    margin: 4rem 0;
    height: 50vh;
    // background: red;
    border: .1rem solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.trending {
    width: 80%;
    height: 80%;
    // background: green;
}