/**
* This file contains styles for the trending component
*/


@import '../base/settings';

.app-trending {
    // margin-top: $xl-navbar-height;
    height: auto;
    // width: 88%;
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.display-5 {
    text-align: left;
    width: 100%;
    padding: $m-padding;
}

.app-trending__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    flex-direction: column;
}

.trending {
    width: 100%;
    height: 100%;
    // background: blue;
}

.trending__container {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 90%;
    background: $white;
    // margin: 4rem 0;
}

.trending-img-slider__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.trending-img, .img-overlay {
    height: 100%;
}

.trending-img {
    cursor: pointer;
    flex: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid $light-grey;
    border-radius: .2rem;
    position: relative;
    margin: 1rem;
}

.trending-img-content {
    bottom: 0;
    opacity: .9;
    width: 100%;
    color: $dark-grey;
    padding: $s-padding;
    background: $off-white;
    font-family: sans-serif;
}

.trending-img-content p {
    font-size: $s-font-size+.4;

}

.promo-info {
    position: absolute;
    top: 0;
    right: 0;
    width: 90%;
    color: $light-grey;
    text-align: right;
}

.promo-info span {
    background: $base-color;
    width: 20%;
    padding: $s-padding;
    color: $white;
}

.img-overlay {
    width: 90%;
    padding: $m-padding;
    display: flex;
    justify-content: center;
}

.img-overlay img {
    width: 50%;
    height: 10rem;
}

.arrow {
    height: 15%;
    position: absolute;
    top: 42%;
    opacity: .9;
    cursor: pointer;
}

.arrow:hover {
    opacity: 1;
}

.arrow-left {
    left: 0;
}

.arrow-right {
    right: 0;
}