.app-featured-categories {
    width: 100%;
    margin: 40px 0;
    height: 50vh;
    // background: red;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.featured-categories {
    width: 80%;
    height: 80%;
    // background: green;
}