
.main-nav-bar-container {
    background: #F2F2F2;
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
}

.nav-bar-container,
.nav-links {
    display: flex;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    justify-content: space-around;
}

.nav-bar-container li {
    display: inline-block;
    font-size: 12px;
    opacity: .6;
}

.start-selling {
    width: 25%;
    display: flex;
    justify-content: flex-end;
}

.separate {
    border-right: 1px solid #666;
}

.trust-policy li {
    padding: 0 10px;
}

.start-selling button {
    background: #2f5653;
    border: 1px solid #2f5653;
    border-radius: 3px;
    font-size: 12px;
    letter-spacing: .5px;
    color: #fff;
    height: 90%;
    padding: 5px;
    opacity: .9;
}

.start-selling button:hover {
    opacity: 1;
}

.trust-policy {
    width: 50%;
}

.help-login {
    width: 20%;
    display: flex;
    justify-content: space-around;
}

.help-login li {
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    // background: red;
    flex: 32%;
}

.jobs {
    border-right: 1px solid #2f5653;
}

.login p {
    padding: 0 5px;
    margin: 0;
}

svg {
    width: 0;
    height: 0;
}

.navbar {
    width: 80%;
    // background: brown;
    margin: 0 auto;
    height: 90px;
    display: flex;
}

.navbar-list li:hover {
    .title-head {
        color: #2f5653;
    }
    .description-page {
        opacity: .8;
    }
}

.navbar-brand {
    color: #2f5653;
    font-size: 40px;
    flex: 10%;
}

.navbar-list {
    // background: grey;
    flex: 35%;
    height: 95%;
    display: flex;
    justify-content: space-around;
}

.navbar-list_wrapped {
    width: 70%;
    display: flex;
    justify-content: space-around;
    // background: green;
}

.shopping-options {
    // background: red;
    flex: 40%;
    display: flex;
}

.img-icons {
    // background: grey;
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: .8;
}

.img-icons img {
    cursor: pointer;
}

.form-inline {
    flex: 60%;
}

.form-inline .form-control {
    width: 85%;
}

.shopping-icons {
    // background: brown;
    flex: 50%;
    display: flex;
}

.active-cyan-4 {
    background: red;
    margin: 0;
}

.view-products {
    // background: red;
    border-bottom: 4px solid #2f5653;
    // color: #2f5653;
}

.products {
    color: #2f5653;
}

.visit-shops {
    // background: blue;
    opacity: .6;
}

.navbar-list li {
    opacity: .9;
    display: inline-block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.arrow-down {
    margin: 0;
    height: 100%;
}

.title-head {
    letter-spacing: .7px;
    font-size: 20px;
}

.nav-links {
    width: 70%;
}

.nav-links li {
    display: inline-block;
    cursor: pointer;
}

.nav-links-container {
    width: 100%;
    background: #F2F2F2;
    padding: 5px;
}