.category-page {
	margin-top: 1rem;
	padding-bottom: 11rem;	
}

.category-item {
	display: flex;
	width: 100%;
	align-items: center;
	padding: $m-padding 0;
}

.category-image {
	width: 5rem;
	height: 5rem;
}