/**
* This file contains styles for the authentication modal
*/


.modal-header {
    display: block;
}

.close span {
    line-height: 0 !important;
    font-size: $l-font-size;
}

.close {
    outline: 0 !important;
    display: flex;
    flex-direction: column;
}

.modal-dialog {
	z-index: 9999;
}