/**
* This file contains all base styles for the elements
*/

@import "../base/settings";
@import '../../../node_modules/icomoon-scss-mixins/scss/mixins.scss';

/*
@include icomoon('icomoon', '../../assets/fonts/icomoon', (
  icon-shirt: "\e900"
))
*/


html {
  font-size: 62.5%; // root size
}

p,
ul,
body {
  margin: 0;
  position: relative;
  font-family: Roboto,-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif;
}

body {
  font-size: $base-font-size;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style: none;
  padding: 0;
}

button,
a {
  cursor: pointer;
  text-decoration: none;
}

.display-4 {
  margin: $l-margin 0;
}

.help-page-container {
  position: absolute;
  bottom: 50%;
}

h1, h2, h3, h4, h5 {
  font-family: Roboto,-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif;
}

h3,
h2 {
  margin: 0;
}

.jumbotron {
  margin-bottom: 0;
}

.router-nav-link {
  text-decoration: none !important;
}

.modal-dialog {
  max-width: 70% !important;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: .95;
  background-color: #d4d5dd;
}

.no-details {
  // background: red;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.account-det-background {
  // background: blue;
  // height: 800px
}


@media screen and (min-width: $mobile-width) and (max-width: $small-tablet-width) {
  .app-footer,
  .menu-bar-container,
  .carousel-control-next,
  .carousel-control-prev,
  .main-nav-bar__container,
  .shopping-options,
  .cart-info-side,
  .side-menu-container,
  .products-paginator {
    display: none;
  }
  .flex-mobile {
    display: flex;
  }

  .block-mobile, .checkout-mobile-footer {
    display: block;
  }
}