/**
* colors
*/
$base-color: #2f5653;
$off-white: #F2F2F2;
$dark-grey: #595959;
$white: #fff;
$black: #000;
$light-grey: #ddd;

/**
* font sizes
*/
// small
$s-font-size: 1.2rem;
// medium
$m-font-size: 2rem;
// large
$l-font-size: 4rem;
// base
$base-font-size: 1.6rem;


/**
* Spacing
*/

// padding

// small
$s-padding: .5rem;
// medium
$m-padding: 1rem;
// large
$l-padding: 2rem;

// margin

// small
$s-margin: .5rem;
// medium
$m-margin: 1rem;
// large
$l-margin: 2rem;
// extra large
$xl-margin: 4rem;

/**
* Images
*/

// small
$small-img: 1.6rem;
// medium
$medium-img: 2.6rem;
// large
$large-img: 7rem;
// xl-large
$xl-large-img: 10rem;
